.hero{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &__img{
      width:250px;
      height:250px;
      margin:5px;
    }
    &__title{
    font-size:1.5rem;
    margin:10px;
    text-align:justify;
    color:$color-blue;
    @media all and (min-width:1200px){
        font-size: 2.5rem;
    }
    }
    &__text{
        font-size: 1rem;
        margin: 10px;
        color:$color-blue;
        text-align:justify;
        @media all and (min-width:1200px){
            font-size: 2.5rem;
        }
    }
}