.hero{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    &__img{
      width:350px;
      height:350px;
    }
    &__title{
    font-size:2.4rem;
    margin:10px;
    text-align: center;
    color:$color-blue;
    @media all and (min-width:1200px){
        font-size: 3rem;
    }
    }
    &__text{
        font-size: 2rem;
        margin: 10px;
        color:$color-blue;
        @media all and (min-width:1200px){
            font-size: 2.5rem;
        }
    }
}