<article class="aboutMe" id="aboutMe">
    <h2 class="aboutMe__h2">Sobre mi</h2>
    <figure class="aboutMe__images">
        <img src="./assets/images/photo.jpg" alt="photo" class="aboutMe__images--photo">
    </figure>
    <p class="aboutMe__description">Antes contadora ahora programadora Front-End Jr.
        Nacida en Cuba pero de descendientes gallegos, 4 generaciones después regreso a la tierra de mis bisabuelos.
        Como
        buena cubana me encanta la música y el baile, disfruto la buena comida, los paseos por la naturaleza y el
        deporte.
        Y ya que estoy en un nuevo país no hay nada mejor que reinventarse, despues de pasar varios cursos y estudiar
        por
        mi cuenta decidí dar el paso y aplicar a Adalab.
        Lo que más me gusta de la programación es que no hay límites para seguir aprendiendo y creciendo.
        La comunidad tech es un sector colaborativo y de trabajo en equipo y estoy orgullosa de pertenecer a el.
    </p>
</article>