<footer class="footer" id="footer">
    <a href="#" class="footer__arrows">
        <i class="fa fa-arrow-up footer__arrows--img"></i>
    </a>

    <h5 class="footer__feadback">Si quereís contactar conmigo ya sea para darme feadback sobre mis proyectos o si creeis
        que aportare valor a su
        equipo, que asi será, podeis contactar conmigo a traves de:</h5>
    <nav>
        <ul class="nav-contact">
            <li class="nav-contact__icons">
                <a href="mailto:vianarodriguezm@gmail.com" class="nav-contact__icons--link">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li class="nav-contact__icons"><a href="https://github.com/Vianam92" class="nav-contact__icons--link"
                    target="_blank">
                    <i class="fab fa-github-alt"></i>
                </a></li>
            <li class="nav-contact__icons"><a href="https://www.linkedin.com/in/mariana-viana-rodriguez-19871a195/"
                    class="nav-contact__icons--link" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a></li>
            <li class="nav-contact__icons"><a href="https://www.twitter.es/vianam92" class="nav-contact__icons--link"
                    target="_blank">
                    <i class="fab fa-twitter"></i>
                </a></li>
        </ul>
    </nav>
    <p class="footer__made">
        <code>Made by Mariana </code><span class="footer__made--heart">❤</span>
    </p>

</footer>