<footer class="footer">
    <a href="#" class="footer__arrows">
        <img src="./assets/images/ico-arrow.svg" alt="arrow" class="footer__arrows--img">
    </a>

    <h5 class="footer__feadback">Si quereis contactar conmigo ya sea para darme feadback sobre mis proyectos o si creeis
        que aportare valor a su
        equipo, que asi será, podeis contactar conmigo a traves de:</h5>
    <nav>
        <ul class="nav-contact">
            <li class="nav-contact__icons">
                <a class="nav-contact__icons--link">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li class="nav-contact__icons"><a class="nav-contact__icons--link">
                    <i class="fab fa-github-alt"></i>
                </a></li>
            <li class="nav-contact__icons"><a class="nav-contact__icons--link">
                    <i class="fab fa-linkedin-in"></i>
                </a></li>
            <li class="nav-contact__icons"><a class="nav-contact__icons--link">
                    <i class="fab fa-twitter"></i>
                </a></li>
        </ul>

        <p class="footer__made">Made by Mariana <span class="footer__made--heart">❤</span></p>

</footer>