<header class="header">
    <img src="./assets/images/ico-menu.svg" alt="icon" class="header__img">
    <nav>
        <ul class="header__nav">
            <li class=header__nav--list><a href="#" class="link">Sobre mi</a></li>
            <li class=header__nav--list><a href="#" class="link">Herramientas</a></li>
            <li class=header__nav--list><a href="#" class="link">Proyectos</a></li>
            <li class=header__nav--list><a href="#" class="link">Contacto</a></li>
        </ul>
    </nav>
</header>