<header class="header">
    <img src="./assets/images/ico-menu.svg" alt="icon" class="header__img js-click">
    <nav class="js-menu hidden">
        <ul class="header__nav">
            <li class=header__nav--list><a href="#aboutMe" class="link">Sobre mi</a></li>
            <li class=header__nav--list><a href="#herramientas" class="link">Herramientas</a></li>
            <li class=header__nav--list><a href="#projects" class="link">Proyectos</a></li>
            <li class=header__nav--list><a href="#footer" class="link">Contacto</a></li>
        </ul>
    </nav>
</header>