<article class="article" id="herramientas">
    <h2 class="article__herramientas">Herramientas</h2>
    <section class="article__section collapsed">
        <h4 class="article__section--text js-collapsed-front"><code>FrontEnd</code><i class="fa fa-arrow-down"></i></h4>
        <ul class="efect-collapsed">
            <li>
                html5
            </li>
            <li>
                Css3
            </li>
            <li>
                Sass
            </li>
            <li>
                Javascript
            </li>
            <li>
                React
            </li>
        </ul>
    </section>
    <section class="article__section collapsed">
        <h4 class="article__section--text js-collapsed-back"><code>BackEnd</code>
            <i class="fa fa-arrow-down"></i>
        </h4>
        <ul class="efect-collapsed">
            <li>
                Node
            </li>
            <li>
                Datos
            </li>
        </ul>
    </section>
    <section class="article__section collapsed">
        <h4 class="article__section--text js-collapsed-other"><code>Other</code>
            <i class="fa fa-arrow-down"></i>
        </h4>
        <ul class="efect-collapsed">
            <li>
                npm
            </li>
            <li>
                git
            </li>
            <li>
                gitHub
            </li>
            <li>
                terminal
            </li>
            <li>
                Ubuntu
            </li>
            <li>slack</li>
            <li>
                scrum
            </li>

        </ul>
    </section>
    <section class="article__section collapsed">
        <h4 class="article__section--text js-collapsed-skill"><code>Skill Personales</code>
            <i class="fa fa-arrow-down"></i>
        </h4>
        <ul class="efect-collapsed">
            <li>Compromiso</li>
            <li>Autodidacta</li>
            <li>Proactiva</li>
            <li>Flexible</li>
            <li>Curiosa</li>
        </ul>
    </section>
</article>