<article class="article">
    <section class="article__section">
        <h4 class="article__section--text">FrontEnd <i class="fa fa-arrow-down"></i></h4>
        <ul class="article__section--front">
            <li>
                html5
            </li>
            <li>
                Css3
            </li>
            <li>
                Sass
            </li>
            <li>
                Javascript
            </li>
            <li>
                React
            </li>
        </ul>
    </section>
    <section class="article__section">
        <h4 class="article__section--text">BackEnd
            <i class="fa fa-arrow-down"></i>
        </h4>
        <ul>
            <li>
                Node
            </li>
            <li>
                Datos
            </li>
        </ul>
    </section>
    <section class="article__section">
        <h4 class="article__section--text">Other
            <i class="fa fa-arrow-down"></i>
        </h4>
        <ul>
            <li>npm
            </li>
            <li>
                git
            </li>
            <li>
                gitHub
            </li>
            <li>
                terminal
            </li>
            <li>
                Ubuntu
            </li>
            <li>slack</li>
            <li>
                scrum
            </li>

        </ul>
    </section>
    <section class="article__section">
        <h4 class="article__section--text">Skill Personales
            <i class="fa fa-arrow-down"></i>
        </h4>
        <ul>
            <li>Compromiso</li>
            <li>Autodidacta</li>
            <li>Proactiva</li>
            <li>Flexible</li>
            <li>Curiosa</li>
        </ul>
    </section>
</article>