<article class="article" id="herramientas">
    <h2 class="article__herramientas">Herramientas</h2>
    <picture class="picture">
        <img src="./assets/images/html5.png" Alt="html" class="picture--img">
        <img src="./assets/images/css.png" ALt="css" class="picture--img">
        <img src="./assets/images/sass.jpeg" Alt="sass" class="picture--img">
        <img src="./assets/images/js.jpeg" Alt="js" class="picture--img">
        <img src="./assets/images/react.jpeg" Alt="git" class="picture--img">
        <img src="./assets/images/gulp.png" Alt="gulp" class="picture--img">
        <img src="./assets/images/git.png" Alt="git" class="picture--img">
        <img src="./assets/images/ubuntu.jpeg" Alt="ubuntu" class="picture--img">
        <img src="./assets/images/vsc.jpeg" Alt="vsc" class="picture--img">
    </picture>
    </section>
</article>