<section class="project" id="projects">
    <h2 class="project__title">Mis Proyectos</h2>
    <section class="project__section">
        <img src="./assets/images/Anonimus-proxy.png" Alt="anonimus" class="project__section--image"
            title="Este proyecto se baso en hacer una página web desde 0 con un diseño dado.">
        <div class="link-projects">
            <a href="https://github.com/Vianam92/Anonimus-Proxy" class="link-projects__icon" title="repositorio"
                target="_blank"><i class="fab fa-github-alt icon"></i></a>
            <a href="https://vianam92.github.io/Anonimus-Proxy/" class="link-projects__demo" title="title"
                target="_blank"><i class="fa fa-link"></i></a>
        </div>

        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/sass.jpeg" Alt="sass" class="img">
            </div>
        </div>
    </section>
    <section class="project__section">
        <img src="./assets/images/Spotify.png" Alt="spotify" class="project__section--image">
        <div class="link-projects" title="Maquetación de la página de spotify.">
            <a href="#" class="link-projects__icon" title="Repositorio" target="_blank"><i
                    class="fab fa-github-alt"></i></a>
            <a href="#" class="link-projects__demo" title="Demo" target="_blank"><i class="fa fa-link"></i></a>
        </div>
        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/sass.jpeg" Alt="sass" class="img">
            </div>
        </div>
    </section>
    <section class="project__section">
        <h4>Proyecto de Equipo</h4>
        <img src="./assets/images/collage_4Fantasticas.jpg" Alt="spotify" class="project__section--image"
            title="Proyecto de equipo del módulo 1 de Adalab,consistio en realizar una página web desde 0 para darnos a conocer en la busqueda de empleo.">
        <div class="link-projects">
            <a href="https://github.com/Vianam92/project-promo-o-module-1-team-8" class="link-projects__icon"
                title="Repositorio" target="_blank"><i class="fab fa-github-alt"></i></a>
            <a href="https://beta.adalab.es/project-promo-o-module-1-team-8/" class="link-projects__demo" title="Demo"
                target="_blank"><i class="fa fa-link"></i></a>
        </div>

        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/sass.jpeg" Alt="sass" class="img">
            </div>
        </div>
    </section>
    <section class="project__section">
        <img src="./assets/images/search-anime.png" Alt="search-Anime" class="project__section--image"
            title="Aplicación web donde el usuario puede interactuar buscando series anime, marcando/desmarcando sus favoritas o borrando para volver a empezar.">
        <div class="link-projects">
            <a href="https://github.com/Vianam92/movies-anime-search" class="link-projects__icon" title="Repositorio"
                target="_blank"><i class="fab fa-github-alt"></i></a>
            <a href="http://beta.adalab.es/modulo-2-evaluacion-final-Vianam92/" class="link-projects__demo" title="Demo"
                target="_blank"><i class="fa fa-link"></i></a>
        </div>

        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/sass.jpeg" Alt="sass" class="img">
                <img src="./assets/images/js.jpeg" Alt="javascript" class="img">
            </div>
        </div>
    </section>
    <section class="project__section">
        <img src="./assets/images/juego-piedra-papel-tijeras.png" Alt="Juego-papel-piedra-tijeras"
            class="project__section--image"
            title="Proyecto realizado en la evaluación intermedia de Adalab, consistio en realizar el juego de niños piedra-papel-tijeras.">
        <div class="link-projects">
            <a href="https://github.com/Vianam92/Juego-Piedra-Papel-o-Tijeras" class="link-projects__icon"
                title="Repositorio"><i class="fab fa-github-alt" target="_blank"></i></a>
            <a href="https://vianam92.github.io/Juego-Piedra-Papel-o-Tijeras/" class="link-projects__demo" title="Demo"
                target="_blank"><i class="fa fa-link"></i></a>
        </div>

        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/js.jpeg" Alt="javascript" class="img">
            </div>
        </div>
    </section>
    <section class="project__section">
        <img src="./assets/images/juego-tu-peso.png" Alt="Tu peso" class="project__section--image"
            title="Si tienes curiosidad cuanto pesas en marte o en jupiter esta es tu oportunidad de averiguarlo.">
        <div class="link-projects">
            <a href="https://github.com/Vianam92/Tu_peso_en_Marte_Jupiter" class="link-projects__icon"
                title="Repositorio"><i class="fab fa-github-alt" target="_blank"></i></a>
            <a href="https://vianam92.github.io/Tu_peso_en_Marte_Jupiter/" class="link-projects__demo" title="Demo"
                target="_blank"><i class="fa fa-link"></i></a>
        </div>

        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/js.jpeg" Alt="javascript" class="img">
            </div>
        </div>
    </section>
    <section class="project__section">
        <img src="./assets/images/paddles.png" Alt="paddles" class="project__section--image">
        <div class="link-projects"
            title="Proyecto basado en que el usuario pueda buscar las paletas de colores, marcar/desmarcar favoritas o no.">
            <a href="https://github.com/Vianam92/paddles" class="link-projects__icon" title="Repositorio"
                target="_blank"><i class="fab fa-github-alt"></i></a>
            <a href="https://vianam92.github.io/paddles/" class="link-projects__demo" title="Demo" target="_blank"><i
                    class="fa fa-link"></i></a>
        </div>

        <div class="project__section--tecnolog">
            <div><img src="./assets/images/html5.png" Alt="html" class="img">
                <img src="./assets/images/css.png" ALt="css" class="img">
                <img src="./assets/images/js.jpeg" Alt="javascript" class="img">
            </div>
        </div>
    </section>
</section>