<article class="proyect">
    <section class="project__section">
        <picture>
            <img src="./assets/images/Anonimus-proxy.png" Alt="anonimus" class="image">
        </picture>
        <h4>Repo</h4>
        <h4>Demo</h4>
        <div>
            Tecnologias usadas
        </div>
    </section>
    <section class="project__section">
        <picture>
        </picture>
        <h4>Repo</h4>
        <h4>Demo</h4>
    </section>
    <section class="project__section">
        <picture>
        </picture>
        <h4>Repo</h4>
        <h4>Demo</h4>
    </section>
    <section class="project__section">
        <picture>
        </picture>
        <h4>Repo</h4>
        <h4>Demo</h4>
    </section>
    <section class="project__section">
        <picture>
        </picture>
        <h4>Repo</h4>
        <h4>Demo</h4>
    </section>
</article>