.header{
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index:2;
    background-color: $color-blue;
    width:100%;
    top:0;
   &__img{
       width:50px;
       background-color: #1b3c41;
       padding:10px;
       @media all and (min-width:1200px){
           width: 70px;
       }
   }
   &__nav{
      display:flex;
      height:auto;
      width:100%;
      &--list{
          padding:5px;
          text-decoration:underline;
          transition: text-decoration ease 2s;
          &:hover{
              text-decoration: wavy;
          }
      }
   }
}
.link{
    color:white;
    font-size: 1.1rem;
    padding:10px;
    @media all and(min-width:768px){
        font-size: 1.5rem;
    }
    @media all and(min-width:1200px){
        font-size: 2rem;
    }

}
