.header{
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    width:100%;
    top:0;
    box-shadow: 3px 5px 20px rgba(0,0,0,.5);
   &__img{
       width:49px;
       height:49px;
       background-color: $color-blue;
       padding:10px;
   }
   &__nav{
      display:flex;
      flex-wrap: wrap;
      background-color: #73bfca;
      justify-content: end;
      height: 49px;
      align-items: center;
      
      &--list{
          padding:5px;
          transition: text-decoration ease 2s;
          &:hover{
              text-decoration: underline;

          }
      }
   }
}
.link{
    color:white;
    font-size: 1.1rem;
    padding:10px;
    color:#1b3c41;
    @media all and(min-width:768px){
        font-size: 1.8rem;
    }
}

.hidden{
    display:none;
}
nav{
    width: 100%;
}
